==
<div class="uk-container">
    <a id="sp-hero" class="uk-cover-container uk-height-medium uk-margin-large-top uk-margin-large-bottom" href="{{ 'societal-project'|page }}">
        <div class="uk-overlay uk-overlay uk-position-center uk-text-center">
            <div id="sp-hero-logo" class="uk-width-small@m"></div>
            <h1 class="uk-text-large" style="font-weight: 200;">May 11<sup>th</sup>, 2019</h1>
        </div>
    </a>
</div>

<style>
#sp-hero {
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
    background: rgba(19, 11, 28, 0.90)!important;
    border-bottom: solid 1px #2d1a42;
    color: #fff;
    display: block;
}

#sp-hero h1 {
    color: inherit;
}

#sp-hero-logo {
    background-image: url('{{ "assets/images/sp_assets/sp_logo.png"|theme }}');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    padding-top:100%;
}
</style>