title = "Committee"
url = "/committee"
layout = "default"
meta_title = "PPIA RMIT Committee"
meta_description = "The committee of PPIA RMIT"
is_hidden = 0

[CommitteeMemberComponent]
==
{% for group in CommitteeMemberComponent.getCommitteeMembers().byGroupId %}
    <h2 style="font-weight:300;">{{ group.name }}</h2>
    <div class="uk-grid-match uk-flex-center" uk-grid>
        {% for member in group.members %}
            <div>
                <div class="uk-card uk-card-default uk-width-medium">
                    <div class="uk-card-media-top">
                        <img class="lazy uk-align-center" data-src="{{ member['profilePic'] }}" alt="Picture of {{ member['name'] }} logo" />
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title" style="font-weight:200;">{{ member['name'] }}</h3>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}