==
<hr class="uk-margin-large">
<div id="footer">
    <div class="uk-container">
        <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
                <div class="uk-background-transparent uk-padding">
                    <div uk-grid>
                        <div class="uk-width-1-2@s">
                            <ul class="uk-nav uk-nav-default uk-text-left">
                                <li class="uk-nav-header">About Us</li>
                                <li><a href="{{ 'who-are-we'|page }}">Who Are We?</a></li>
                                <li><a href="{{ 'vision-mission'|page }}">Vision & Mission</a></li>
                                <li><a href="{{ 'committee'|page }}">Committee</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-background-transparent uk-padding">
                    <div uk-grid>
                        <img class="lazy uk-grid-collapse" data-src="{{ 'assets/images/out_affiliation/konsul.jpg'|theme }}" alt="Konsulat jendral RI logo" style="height:80px;width:auto;" >
                        <img class="lazy uk-grid-collapse" data-src="{{ 'assets/images/out_affiliation/ppiaaus.png'|theme }}" alt="PPIA Australia logo" style="height:80px;width:auto;" >
                        <img class="lazy uk-grid-collapse" data-src="{{ 'assets/images/out_affiliation/ppiavicnew.png'|theme }}" alt="PPIA Victoria logo" style="height:80px;width:auto;" >
                        <img class="lazy uk-grid-collapse" data-src="{{ 'assets/images/out_affiliation/rusu.png'|theme }}" alt="RUSU logo" style="height:80px;width:auto;" >
                    </div>
                </div>
            </div>
        </div>
        
        <center>
            <p class="uk-text-meta">&copy;{{ "now"|date("Y") }} PPIA RMIT</p>
        </center>
        
    </div>
</div>