[googleTracker]
==
<style>#instantclick-bar{background:#e1c57b}#layout-content,body{background:#f6dfc0}#layout-footer{background:#fff}.uk-form-label,p{color:#000}.uk-card-title,h1{color:#fff!important}#navContainer{-webkit-backdrop-filter:saturate(180%) blur(10px);backdrop-filter:saturate(180%) blur(10px);background:rgba(23,23,23,.9)!important;border-bottom:solid 1px #2d1a42!important}.uk-form-controls>div,.uk-legend,.uk-navbar-nav>li>a{color:#fff}.uk-navbar-nav>li.uk-active>a{color:#999}.uk-navbar-container{background:0 0!important}</style>
<!-- Scripts -->
        <script src="{{ 'assets/vendor/lazyload.min.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/instantclick.min.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/UIKit/uikit.min.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
        {% component 'googleTracker' %}
        {% framework extras %}
        {% scripts %}

        <script data-no-instant>
            var myLazyLoad = new LazyLoad({
              elements_selector: ".lazy"
            });
            InstantClick.on('change', function(url, body, title) {
                console.log('updated')
                if (myLazyLoad) {
                    myLazyLoad.update();
                }
            })
            InstantClick.on('receive', function(url, body, title) {
                return {
                  body: body,
                  title: title
                };
            });
            
            InstantClick.init();
        </script>
    </body>
</html>