title = "Home"
url = "/"
layout = "default-noPadding"
meta_title = "PPIA RMIT"
meta_description = "Welcome to PPIA RMIT. Indonesia student association at RMIT"
is_hidden = 0
==
<?php
function onStart() {
    $prefix_dir = 'assets/images/thank-you/';
    $images_list = [
        '/themes/ppia-rmit/assets/images/c1.jpg',
        '/themes/ppia-rmit/assets/images/c2.jpg',
        'https://societal.ppia-rmit.com/themes/SocietalProject/assets/images/thank-you/4.jpg',
        'https://societal.ppia-rmit.com/themes/SocietalProject/assets/images/thank-you/2.jpg'
    ];
    
    shuffle($images_list);
    $this->page["images"] = $images_list;
}
?>
==
<div class="uk-cover-container uk-light" uk-height-viewport="offset-top: true">
    <div class="uk-overlay uk-position-center-left uk-width-1-1" style="z-index:100;">
        <div class="uk-flex-center uk-text-center uk-text-left@s" uk-grid>
            <div class="uk-width-1-1 uk-width-3-4@s">
                <p class="uk-heading-primary uk-visible@s" style="color:#fff;">Become a<br>Member Now</p>
                <p class="uk-hidden@s" style="color:#fff; font-size:24pt;">Become a<br>Member Now</p>
                <a href="{{ 'register-member'|page }}"><button class="uk-button uk-button-primary uk-button-large">Register</button></a>
            </div>
        </div>
    </div>
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="autoplay:true;animation: fade;ratio: false;pause-on-hover:false;">
    
        <ul class="uk-slideshow-items" uk-height-viewport>
            {% for image in this.page.images %}
            <li>
                <div class="uk-position-cover uk-transform-origin-center-left">
                    <img data-src="{{ image }}" alt="" uk-cover width="2500" height="1667" class="lazy">
                </div>
            </li>
            {% endfor %}
        </ul>
    
    </div>
</div>

{% partial 'event/plannedEvent' %}