title = "Indonation"
url = "/indonation"
layout = "default-noPadding"
meta_title = "Indonation"
meta_description = "-- INSERT DESC HERE --"
is_hidden = 0
==
<div class="uk-container uk-margin-large-top uk-height-large@m" id="po-hero">
    <div class="uk-flex uk-flex-column uk-width-1-1 uk-width-1-2@s">
       <div class="uk-card uk-background-transparent uk-card-body">
           <h1 class="uk-heading-primary">Indonation</h1>
           <h2 class="uk-card-title">Together, we can raise awareness towards Indonesia's lack of educational support to the underprivileged children</h2>
       </div>
    </div>
</div>

<div class="uk-container uk-margin-large-top">
    <div class="uk-grid-collapse uk-text-center uk-flex-center uk-margin-large-top uk-margin-large-top uk-grid uk-grid-stack" style="margin-top:0;padding-top:0;" uk-grid="">
        <div class="uk-card uk-card-body uk-width-1-2@m uk-text-center uk-first-column">
            <p>We are a non-profit organization under PPIA RMIT  & RMIT University Student Union (RUSU). Each year we do campaigns, events to raise awareness of Indonesia's lack of educational support to the underprivileged children while also finding ways to help them go to school. </p>
        </div>
    </div>
</div>

<div id="paperPlane-animation-container">
    <svg id="paperPlane-animation-path"></svg>
    <figure id="paperPlane-animation-plane"></figure>
</div>

<div class="uk-background-muted">
<div class="uk-container uk-margin-large-bottom" style="padding: 80px 0;">
    <div class="uk-grid-match uk-child-width-expand@s uk-text-center uk-flex-center" uk-grid>
        <div>
            <div class="uk-card uk-card-body">
                <figure class="projectO-logo uk-margin-medium-bottom"></figure>
                <span class="uk-article-title">THE 'O' ?</span>
            </div>
         </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
            <h3 style="font-weight:300;">The infinite loop of sharing</h3>
            <p>Represents our motto ‘Share to Learn, Learn to Share’. While helping the underprivileged Indonesian children, we are learning the culture of sharing at the same time. Little by little, we are aiming to help break the poverty cycle in Indonesia.</p>
            </div>
        </div>
    </div>
</div>
</div>

    <div class="uk-container uk-margin-large-top uk-margin-large-bottom">
        <div class="uk-child-width-expand@s uk-text-left" uk-grid>
            <div>
                <article class="uk-card uk-card-muted uk-card-body uk-background-transparent">
                    <h1 class="uk-article-title uk-text-lead">Our Vision</h1>
                    <p>Sharing the culture of learning and helping to break the poverty cycle through educational support for children in Indonesia.</p>
                </article>
            </div>
            <div>
                <article class="uk-card uk-card-muted uk-card-body uk-background-transparent">
                    <h1 class="uk-article-title uk-text-lead">Our Mission</h1>
                    <ul>
                        <li>To provide sustainable funding for school programs in Indonesia and educational opportunities for underprivileged children.</li>
                        <li>To minimize the number of underprivileged children who struggle to achieve basic education.</li>
                        <li>To plant the seeds of compassion and charity in the hearts of both Indonesians and locals alike.</li>
                        <li>To invest in the character and skills of young Indonesians as the future leaders of Indonesia and to pave the way for them to be the agent of change in Indonesia.</li>
                    </ul>
                </article>
            </div>
        </div>
    </div>

<style>
html,body {
    overflow-x: hidden;
}

#paperPlane-animation-path path {
    opacity: 0;
}

#po-hero {
    background-image: url('{{ 'assets/images/po_assets/blackboard.svg'|theme }}');
    background-position: bottom right;
    background-repeat: no-repeat;
    min-height: 50vw;
}

@media (max-width:640px) {
    #po-hero {
        background: white;
    }
}

#countDown-container {
    position: relative;  
    margin-top:15px;
}

#countdown-label {
    text-align:center;
}

#paperPlane-animation-container {
    position: relative;
}

#paperPlane-animation-plane {
    background-image: url('{{ 'assets/images/po_assets/paperPlane.svg'|theme }}');
    width: 80px;
    padding-top: 38px;
    position: absolute;
    top: 0;
    left: 0;
}

.projectO-logo {
    background-image: url('{{ 'assets/images/po_assets/logo.svg'|theme }}');
    width: 70px;
    display: block;
    margin: 0 auto;
}

.projectO-logo:after {
    content: ' ';
    display: block;
    padding-bottom: 137.2044%;
}
</style>
<script src="{{ 'assets/javascript/po.js'|theme }}"></script>