title = "Buy Ticket"
url = "/buy-ticket"
layout = "default-noPadding"
meta_title = "Purchase Ticket"
meta_description = "Purchase ticket for societal project"
is_hidden = 0
==
<div class="uk-cover-container" uk-height-viewport="offset-top: true">
    <div class="uk-position-center uk-position-small uk-text-center" style="z-index:100;">
        <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0" class="uk-text-large" style="font-weight: 300; color:#fff;text-shadow: #000 0px 0px 2px;">Coming Soon</h2>
        <h3 uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0" style="color:white;font-weight:lighter;text-shadow: #000 0px 0px 2px;">Check back later</h3>
    </div>
</div>