title = "Venue"
url = "/venue"
layout = "default-noPadding"
meta_title = "Event Venue"
meta_description = "Societal Project will be hold at BaroqHouse"
is_hidden = 0
==
<!--<div class="uk-cover-container uk-height-large">
    <img src="{{ 'assets/images/locationCover.jpeg'|theme }}" alt="" uk-cover>
</div>-->

<div class="uk-container uk-margin-large-bottom uk-margin-large-top">
   <!-- <div class="venue-logo-container uk-width-small uk-width-medium@s">
        <figure class="venue-logo"></figure>
    </div>-->
    
   <div class="uk-position-center uk-position-small uk-text-center" style="z-index:100;">
        <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0" class="uk-text-large" style="font-weight: 300; color:#fff;text-shadow: #000 0px 0px 2px;">Coming Soon</h2>
        <h3 uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0" style="color:white;font-weight:lighter;text-shadow: #000 0px 0px 2px;">Check back later</h3>
    </div>
</div>

<div class="uk-container">
   <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.093038785743!2d144.96179831545004!3d-37.81128967975281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642ca599f5e07%3A0xf8d64a0d8cb8bfd4!2sBaroqHouse!5e0!3m2!1sen!2sau!4v1555056781366!5m2!1sen!2sau"frameborder="0" style="width:100%;height:75vh;margin-bottom:100px;" allowfullscreen></iframe>-->
</div>

<style>
    .venue-logo-container {
        max-width:458px;
        margin: 0 auto;
    }
    .venue-logo {
        background-image: url('{{ "assets/images/Baroq_Logo_white.png"|theme }}');
        background-size:contain;
        background-position:center;
        background-repeat:no-repeat;
        width:100%;
        padding-bottom:97.1458%;
    }
</style>